/* For Tablets */
@media all and (max-width: 1100px) {
  .body {
    display: inline-block;
  }

  .top-content {
    margin-right: 25px;
  }

  .bottom-content {
    margin-right: 25px;
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .main-body {
    display: block;
    position: relative;
    left: 10%;
  }

  .top-content {
    width: 80%;
    margin-bottom: 25px;
  }

  .bottom-content {
    width: 80%;
    margin-bottom: 25px;
  }

  .content-title p {
    font-size: 15px;
  }

}
