/* For Tablets */
@media (max-width: 1000px) {
  main {
    display: flex;
    justify-content: space-evenly
    margin: 15px;
  }
}

/* For Smartphones */
@media (max-width: 670px) {
  .top-content {
    display: block;
    width: 80%;
    font-size: 13px;
    margin-left: 15px;
  }
  
  .content-title p {
    font-size: 15px;
  }
  
  .bottom-content {
    display: block;
    width: 80%;
    font-size: 12px;
    margin-left: 15px;
  }
  
  .course-wrapper {
    margin: 30px;
    display: inline-block;
  }
  
  .socmed-wrapper {
    margin: 30px;
    display: inline-block;
  }
}
