/* For Tablets */
@media (max-width: 900px) {
  .top-content {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
    font-size: 13px;
    padding-top: 10px;
  }
  
  .bottom-content {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
    margin-left: 30px;
    font-size: 13px;
    padding-top: 10px;
  }
}

/* For Smartphones */
@media (max-width: 670px) {
  .top-content {
    display: block;
    width: 80%;
    font-size: 13px;
    margin-left: 15px;
  }
  
  .content-title p {
    font-size: 15px;
  }
  
  .bottom-content {
    display: block;
    width: 80%;
    font-size: 12px;
    margin-left: 15px;
  }
  
  .course-wrapper {
    margin: 30px;
    display: inline-block;
  }
  
  .socmed-wrapper {
    margin: 30px;
    display: inline-block;
  }
}
